/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require style.css
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "style";


.signuphead {
  background-color: green;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 11%;
   background-color: #409127;
   color: white;
   text-align: center;
   line-height: normal;
}



.footer1 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 11%;
   background-color: #409127;
   color: white;
   text-align: center;
   line-height: normal;
}


.head {
   position: fixed;
   left: 0;
   top: 54px;
   width: 100%;
   background-color: #66b34d;
   color: white;
   text-align: center;
   line-height: normal;
}

.share-product-btn {
  
    bottom: 15px;

}

 
.signin-text{color: white}

.sign-head{color: #409127}